<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
            
            <bean id="camlin" class="com.spring.Marker" scope="prototype"></bean>
            <bean id="person" class="com.spring.setter.Person">
            <property name="email" value="shridharsavat92@gmail.com"></property>
            </bean>
            
            <bean id="teacher" class="com.spring.ConstructorInjection.Teacher">
            <constructor-arg value="Anant"></constructor-arg>
            </bean>
            
            <bean id="usb" class="com.spring.ref_Injection.USB">
            </bean>
            
            <bean id="computer" class="com.spring.ref_Injection.Computer">
            <property name="refusb" ref="usb"> </property>
            </bean>
           


</beans>
